.user-data {
  border-style: solid;
  padding: 10px;
  margin: auto;
  width: 50%;
  background-color: #dddddd;
}

#table {
  border-style: solid;
  padding: 20px;
  margin: auto;
  width: 90%;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  margin-left: 10%;
  width: 80%;
}

td,
th {
  border: 2px solid;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even),
table.list thead > tr {
  background-color: #dddddd;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100px;
  height: 50px;
  background-color: red;
  color: black;
  font-size: 20px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.submit {
  text-align: center;
}
#search-input {
  margin-top: 50px;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  border-color: black;
}

#search-input input[type="text"] {
  border: 2px solid;
}
#search-button {
  width: 100px;
  height: 50px;
  color: black;
  font-size: 20px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-left: 42%;
  text-transform: uppercase;
}
#create-button {
  width: 100px;
  height: 50px;
  background-color: greenyellow;
  color: black;
  font-size: 20px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  opacity: 100%;
  margin-left: 35%;
  margin-top: -10px;
}
#formdata {
  opacity: 0%;
}
